#pragma warning disable CS8618
@model Product
<h1>@Model.Name</h1>
<h2>Categories:</h2>
<ul>
@foreach(var assoc in Model.Associations)
{
    <li>@assoc.Category.Name</li>
}
</ul>
<form asp-action="Create" asp-route-isProduct="true" asp-controller="Association" method="post">
    <input type="hidden" name="ProductId" value="@Model.ProductId">
    <select name="CategoryId">
    @foreach(var p in ViewBag.Categories)
    {
        <option value="@p.CategoryId">@p.Name</option>
    }
    </select>
    <input type="submit" value="Add Category">
</form>