@{
  ViewData["Title"] = "Chefs 'N Dishes";
}
@model List<Dish>

<div class="text-center">
  <div class="container mt-3">
    <h1 class="display-4">Yum! Check out our tasty dishes!</h1>
    <table class="table border rounded">
      <thead>
        <tr>
          <th scope="column">Name</th>
          <th scope="column">Chef</th>
          <th scope="column">Tastiness</th>
          <th scope="column">Calories</th>
        </tr>
      </thead>
      <tbody>
        @foreach (Dish dish in Model)
        {
          <tr>
            <td>@dish.Name</td>
            <td>@dish.Creator?.FirstName @dish.Creator?.LastName</td>
            <td>@dish.Tastiness</td>
            <td>@dish.Calories</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>